<h1 class="py-2 pt-5">All Programs</h1>

<table class="table customTable">
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Department</th>
        <th>Code</th>
    </thead>
    <tbody>
        <% for (let program of programs) { %>
        <tr>
            <td>
                <a href="/programs/<%=program.prog_id%>">
                    <%=program.prog_name%>
                </a>
            </td>
            <td><%=program.prog_type%></td>
            <td><%=program.prog_dept%></td>
            <td><%=program.prog_code%></td>
        </tr>
        <% } %>
    </tbody>
</table>
