<h1 class="text-dark pt-5"><%= assessment.assessed_program %></h1>

<h2 class="text-dark pb-5"><%= assessment.assesed_course %></h2>

<h3 class="text-dark">Program Learning Outcome</h3>

<p class="text-dark pb-5"><%= assessment.assessed_plos %> </p>

<h3 class="text-dark">Course Learning Outcome</h3>

<p class="text-dark pb-5"><%= assessment.assessed_clos %> </p>

<h3 class="text-dark">Strategies</h3>

<p class="text-dark pb-5"><%= assessment.assesed_strats %> </p>

<h3 class="text-dark">Resources</h3>

<p class="text-dark pb-5"><%= assessment.assesed_resources %> </p>

<h3 class="text-dark">Notes</h3>

<p class="text-dark pb-5"><%= assessment.notes %> </p>

<p class="text-dark"><b>Submitted by: </b><%= assessment.discussion_completed_by %> </p>

<p class="text-dark"><b>Additional Contributers: </b><%= assessment.discussion_also_present %> </p>

<p class="text-dark"><b>Submitted on: </b><%= assessment.date_assessed %> </p>