<h1 class="text-dark py-2 pt-5"><%= assessment.assessed_program %></h1>

<h1 class="text-dark py-2 pt-5"><%= assessment.assessed_course %></h1>

<h2 class="text-dark">Program Learning Outcome</h2>

<p class="text-dark"><%= assessment.assessed_plo %> </p>

<h2 class="text-dark">Course Learning Outcome</h2>

<p class="text-dark"><%= assessment.assessed_clo %> </p>

<h2 class="text-dark">Strategies</h2>

<p class="text-dark"><%= assessment.assesed_strategies %> </p>

<h2 class="text-dark">Resources</h2>

<p class="text-dark"><%= assessment.assesed_resources %> </p>

<h2 class="text-dark">Notes</h2>

<p class="text-dark"><%= assessment.notes %> </p>

<p class="text-dark"><b>Submitted by: </b><%= assessment.discussion_completed_by %> </p>
